# Question 1

In [1]:
a=0
def b():
    global a
    a=c(a)
    
def c(a):
    return a+2

b()  #global keyword used to mkae scope of variable for all classes
b()  #for each call to b() it sends 'a' value to value to function c() and 2 is added and returned to b() which is stored in global variable 'a'.
b()  # 'a' is incremented by 2 for every call as its global
a    #first b() calls -2, second b() calls -4, third b() calls -6 and a returns a=6

6

# Question 2

In [11]:
def file_Length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        print(len(contents))
        file.close()
    except FileNotFoundError:
        print('File {} not found.'.format(file_name))
    except:
        print("File cannot be read")
filename = "C:\\Users\\Hp\\Desktop\\fileLength.txt"

file_Length(filename)

try:
    fileLength(midterm.py)
except NameError:
        print("File cant be read as a text file")

123
File cant be read as a text file

# Question 3

In [13]:
class Marsupial(object):
    def __init__(self):
        self.myList = []
    def put_in_pouch(self,item):
        self.myList.append(item)
    def pouch_contents(self):
        return self.myList

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self,ax,ay):
        self.x += ax
        self.y += ay
    def __str__(self):
        return "I am a Kangaroo located at co-ordinates ({},{})".format(self.x,self.y)
    
my = Marsupial()
my.put_in_pouch('doll')
my.put_in_pouch('firetruck')
my.put_in_pouch('kitten')
my.pouch_contents()

kg = Kangaroo(0,0)

print(kg)

kg.put_in_pouch('doll')
kg.put_in_pouch('firetruck')
kg.put_in_pouch('kitten')
kg.pouch_contents()
kg.jump(1,0)
kg.jump(1,0)
kg.jump(1,0)
print(kg)

I am a Kangaroo located at co-ordinates (0,0)
I am a Kangaroo located at co-ordinates (3,0)

# Question 4

In [15]:
def collatz(num):
    if num <= 1:
        print(1)
    elif num % 2 == 0:
        print(int(num))
        return collatz(num/2)
    else:
        print(int(num))
        return collatz(3*num + 1)
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [17]:
def binary(num):
    if num > 1:
       binary(num//2)
    print(num % 2,end = '')
binary(0)

0

In [18]:
def binary(num):
    if num > 1:
       binary(num//2)
    print(num % 2,end = '')
binary(1)

1

In [19]:
def binary(num):
    if num > 1:
       binary(num//2)
    print(num % 2,end = '')
binary(3)

11

In [20]:
def binary(num):
    if num > 1:
       binary(num//2)
    print(num % 2,end = '')
binary(9)

1001

# Question 6

In [21]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headings = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    flag = 0
    spaces = 0
    def handle_starttag(self, tag, attrs):
        if tag in self.headings:
            self.flag = 1
            self.spaces = int(tag[1]) - 1
           
    def handle_endtag(self, tag):
        if tag == 'h1':
            self.flag = 0
            
    def handle_data(self, data):
        if self.flag:
            print(data.rjust(len(data) + self.spaces), end='\n')
            
            
infile = open("C:\\Users\\Hp\\Desktop\\w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

In [22]:
import requests 
  
response = requests.get('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html') 

print(response) 
print(response.url)
print('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html')
print('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html')
print('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html')
print('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html')

<Response [404]>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Question 8

a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [24]:
import sqlite3
con = sqlite3.connect('FILE.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS WORLD (City text, Country text, Season text, Temperature real, Rainfall real)")
cur.execute("INSERT INTO WORLD VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO WORLD VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO WORLD VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
cur.execute('SELECT * FROM WORLD')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [25]:
# 8(a)
cur.execute("SELECT Temperature FROM WORLD")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [26]:
# 8(b)
cur.execute("SELECT distinct(City) FROM WORLD")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [27]:
# 8(c)
cur.execute("SELECT * FROM WORLD where Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [28]:
# 8(d)
cur.execute("SELECT * FROM WORLD where Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [29]:
# 8(e)
cur.execute("SELECT City, Country, Season, AVG(Rainfall) FROM WORLD where Rainfall >= 200 and Rainfall <= 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 257.40000000000003)]

In [30]:
# 8(f)
cur.execute("SELECT City,Country, AVG(Temperature) FROM WORLD WHERE Temperature > 20.0  GROUP BY City, Country ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [31]:
# 8(g)
cur.execute("SELECT SUM(Rainfall) FROM WORLD WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [32]:
# 8(h)
cur.execute("SELECT Season, SUM(Rainfall) FROM WORLD GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over',     4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words,       where each list contains the word in uppercase and lowercase and the
    length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or        more characters.)

In [35]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

list1 = [word.upper() for word in words]
list2 = [word.lower() for word in words]
list3 = [len(word) for word in words]
list4 = [[word.upper(), word.lower(), len(word)] for word in words]
list5 = [word for word in words if len(word) > 3]

#a
print(list1)

#b
print(list2)

#c
print(list3)

#d
print(list4)

#e
print(list5)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']